* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 25px;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 90%;
    height: 100vh;
}

.display-main-container {
    display: grid;
    grid-template-columns: 5% 15% 15% 20% 30%;
    column-gap: 25px;
    text-align: left;
    width: 100%;
}

.label-container {
    position: fixed;
    grid-template-columns: 5% 15% 15% 20% 20% 15%;
    background-color: white;
    align-items: center;
    padding-top: 10px;
    width: 90%;
}

.data-container {
    margin-top: 100px;
}

.label {
    font-weight: 600;
    position: sticky;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.btn.primary {
    background-color: green;
    color: white;
}

.btn:hover {
    box-shadow: 0px 0px 10px 5px rgb(173, 173, 173);
}

.data {
    padding-bottom: 20px;
}

.remarks {
    overflow: hidden;
}
